/*
  --background: #2b313b;
  --ui-contrast: #ffffff;
  --ui-one: #21252b;
  --ui-two: #434b56;
  --ui-three: #6f7c90;
  --text: #dfe2e7;
  --sidebar: #21252b;

  --black: #282c34;
  --white: #ffffff;
  --light-red: #e06c75;
  --dark-red: #be5046;
  --green: #98c379;
  --light-yellow: #e5c07b;
  --dark-yellow: #d19a66;
  --blue: #61afef;
  --magenta: #c678dd;
  --cyan: #56b6c2;
  --gutter-grey: #4b5263;
  --comment-grey: #5c6370;

  --accent-darker: #411f2d;
  --accent-dark: #ac4147;
  --accent-medium: #f88863;
  --accent-light: #ffc27f;
  --accent-lighter: #ffe29a;

  --font-body: "Nunito Sans", sans-serif;
  --font-header: "Roboto Condensed", sans-serif;
  --font-title: "Roboto Slab", serif;
*/

@mixin display {
  display: flex;
  width: fit-content;
  // margin-left: 0.5em;
  // margin-right: 0.5em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin input($type: "input") {
  #{$type} {
    width: 10em;
    background-color: var(--ui-two);
    font: var(--font-body);
    color: var(--text);
    border: none;
    padding: 0.3em;
    transition: box-shadow 0.2s linear;
    box-shadow: -0.3em 0 var(--accent-light), 0.2em 0.2em 0.1em var(--ui-one);
    border-radius: 0.2em;
    align-self: center;
    margin-top: 0.3em;
    &:focus {
      outline: none;
      transition: box-shadow 0.2s linear;
      box-shadow: -0.3em 0 var(--accent-dark), 0.2em 0.2em 0.1em var(--ui-one);
    }
    &:disabled {
      box-shadow: -0.3em 0 var(--accent-medium), 0.2em 0.2em 0.1em var(--ui-one);
    }
  }
  &.error {
    color: var(--light-red);
    input {
      box-shadow: -0.3em 0 var(--light-red), 0.2em 0.2em 0.1em var(--ui-one);
    }
  }
}

div.type {
  &.field {
    &.text {
      @include display;
      @include input;

      &.small {
        input {
          width: 2em;
        }
      }

      &.row {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        input {
          margin-left: 1em;
        }
      }
    }

    &.number {
      @include display;
      @include input;
      input {
        width: 5em;
        text-align: center;
      }

      &.stat {
        input {
          width: 1.5em;
          font-size: 2em;
        }
        max-width: 5em;
        min-width: 5em;
        width: 5em;
        align-items: center;
      }

      &.small {
        input {
          width: 2em;
        }
      }

      &.row {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        input {
          margin-left: 1em;
        }
      }
    }

    &.textarea {
      @include display;
      @include input("textarea");

      textarea {
        resize: none;
        width: 10em;
        height: 6em;
      }
      &.large {
        textarea {
          width: 30em;
          height: 20em;
        }
      }
      &.square {
        textarea {
          width: 30em;
          height: 30em;
        }
      }
      &.short {
        textarea {
          height: 4.6em;
        }
      }
      &.skinny {
        textarea {
          width: 15em;
          height: 20em;
        }
      }
      &.skinny-tall {
        textarea {
          width: 15em;
          height: 30em;
        }
      }
      &.small-text {
        textarea {
          font-size: 0.8em;
        }
      }
      &.resize {
        textarea {
          resize: both;
        }
      }
    }

    &.label {
      &.stat {
        font-size: 1.5em;
      }
    }

    &.checkbox {
      height: 2em;
      margin-left: 0.5em;
      margin-right: 0.5em;

      label {
        position: relative;
        height: 100%;
        // min-width: 7em;
        display: flex;
        align-items: center;
        justify-content: center;

        .text {
          margin-right: 5em;
          // min-width: 1em;
          // min-height: 100%;
        }
      }

      .custom {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;

        width: 5em;
        height: 2em;
        border-radius: 3px;

        background-color: var(--ui-two);
        box-shadow: 0.2em 0.2em 0.1em var(--ui-one);

        &:hover {
          background-color: var(--ui-three);
        }
      }
      input:checked ~ .custom {
        background-color: var(--accent-dark);
        &:hover {
          background-color: var(--accent-medium);
        }
      }
      input:disabled ~ .custom {
        &:hover {
          background-color: var(--ui-two);
        }
      }
      input:checked:disabled ~ .custom {
        &:hover {
          background-color: var(--accent-dark);
        }
      }
    }
  }
}

div.group {
  &.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &.space-bottom {
    * {
      margin-bottom: 0.5em;
    }

    :last-child {
      margin-bottom: 0;
    }
  }
}
